* {
    margin: 0;
}

body {
    background-image: url("/images/hc-lighter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}


/* nav */

nav {
    background-color: #222D3F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0 3px 4px grey;
    position: fixed;
    width: 100%;  
}

nav a {
    padding: 15px 3%;
    text-decoration: none;
    color: white;   
    font-family: 'Source Code Pro', monospace;
    &:hover {
        color: #99BE7F;
    }
}


/* main */

h1 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    padding-top: 120px;
}

h2 {
    margin: 2%;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
}

p {
    font-family: 'Hind', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 2% 0 0 0;
}
ul {
    font-family: 'Hind', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 3%;
    
}
li {
    margin-left: 100px;
}


#name {
    text-align: left;
    font-size: 100px;
}

#head-shot {
    border-radius: 50%;
    height: 400px;
    margin: 5% 10%;;
    float: left;
    box-shadow: 0 3px 4px grey;
    padding: 1% 1% 1% 1%;
}

#subtitle {
    margin-right: 5%;
}

#about-container {
    padding-top: 10%;
}

#more-about-container {
    padding-top: 10%;
    
}

.bigger:hover {
    transform: scale(1.01);
}

.form {
    grid-row-start: 2;
    max-width: 500px;
	background: #F8F8F8;
	margin: 4em auto 5em auto;
	padding: 20px;
	border-radius: 8px;
	font-family: 'Source Code Pro', monospace;
    label {
        display: block;
	    margin-bottom: 5px;
    }
    input {
        border-radius: 4px;
        width: 100%;
        height: 35px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
    }
    textarea {
        width: 100%; 
        padding: 12px;  
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
    }


    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
        border-color: #99BE7F;
        box-shadow: 0 1px 1px #99BE7F inset, 0 0 8px #99BE7F;
        outline: 0 none;
    }

    .checkbox {
        margin-left: 40px;
    }
    .radio {
        margin-left: 40px;
    }
    button {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #77A756;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #77A756;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
        transition: border .4s ease-out;
        border: 5px solid transparent;
        &:hover {
            border: 5px solid green;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    grid-template-rows: auto auto;
    grid-gap: 5% 5%;
    margin-top: 5%;
    #first-project {
        grid-column-start: 2;
    }
    #second-project {
        grid-column-start: 3;
    }
    #third-project {
        grid-column-start: 4;
    }
    .project {
        padding: 15px;
        transition: all 400ms ease;
        border: 1px solid #ebecec;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        margin: .5rem;
        background-color: white;
        .project-link {
            text-decoration: none;
            color: inherit;
        }
        &:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }
        &:active {
            box-shadow: 0 3px 4px rgba(0,0,0,0.3);
        }
        img {
            width: 100%;
        }
        #crypto {
            padding-bottom: 9%;
        }
        p { 
            padding: 15px;
            font-family: sans-serif;
        }
    }
}


/* footer */

footer {
    background-color: #222D3F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 -3px 4px grey;
    clear: left;
    position: fixed;
    bottom:0;
    width: 100%;
}

footer img {
    height: 30px;
    padding: 15px;
    &:hover {
        filter: brightness(0) saturate(100%) invert(86%) sepia(7%) saturate(1811%) hue-rotate(50deg) brightness(85%) contrast(83%);
    }
}

footer #github {
    height: 40px;
}


@media screen and (max-width: 1130px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
        grid-gap: 3vh 5%;
        #first-project {
            grid-column-start: 2;
            grid-row-start: 1;
        }
        #second-project {
            grid-column-start: 2;
            grid-row-start: 2;
        }
        #third-project {
            grid-column-start: 2;
            grid-row-start: 3;
        }
    }
    main {
        height: 100%;
        padding-bottom: 5%;
    }

    #about-container {
        padding-top: 10%;
        display: grid;
        grid-template-rows: auto auto auto;
    }

    #name {
        grid-row-start: 2;
        text-align: center;
        font-size: 50px;
        padding-top: 20px;
    }

    #subtitle {
        text-align: center;
        margin: 1%;
    }

    #head-shot {
        grid-row-start: 1;
        border-radius: 50%;
        text-align: center;
        margin: 5% auto auto auto;
        padding: 1% 1% 1% 1%;
        margin-bottom: 10px;
        box-shadow: 0 3px 4px grey;
    }

}

@media screen and (max-width: 405px) {
        #head-shot {
            grid-row-start: 1;
            width: 300px;
            height: auto;
            text-align: center;
            margin: 10% auto auto auto;
            margin-bottom: 10px;
            box-shadow: 0 3px 4px grey;
    }
}
